html{
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #191919;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  padding: 20px;
}
footer{
  margin-top: 150px;
}
.hidden {
  opacity: 0;
  transition: opacity 1s ease-out;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hidden-jump {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.hidden-jump.animate {
  animation: jump 1s ease-out 1;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-left {
  opacity: 0;
  transform: translateX(-5%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-left.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.show {
  opacity: 1;
}

.navbar {
  color: #a7a7a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.navbar .left {
  flex: 1;
  display: flex;
  padding: 0;
}

.navbar .right {
  display: flex;
  gap: 15px;
}

.navbar img {
  width: 50px;
  height: 50px;
}

.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  width: 30px;
  height: 30px;
  border-radius: 7%;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.divider {
  width: 2px;
  background-color: white;
}

.welcome-page {
  text-align: left;
  display: flex;
}

.banner {
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
  align-items: center;
  gap: 20px;
  align-items: flex-start;
}

.banner h1 .name {
  background: linear-gradient(to right, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner h1 {
  font-size: 36px;
  line-height: 1.5;
  width: 600px;
  animation: fade-in 1.5s ease-out forwards;
}
.banner img {
  animation: fade-in 1.5s ease-out forwards;
  max-width: 100%; /* Ustawienie maksymalnej szerokości obrazka */
  height: auto; /* Automatyczne skalowanie wysokości w zależności od szerokości */
  padding-right: 0;
  padding-left: 100px;
}

.btn {
  animation: fade-in 1.5s ease-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: black;
  font-size: large;
  background-color: white;
  width: 140px;
  height: 50px;
  border-radius: 27px;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
}

.tech-stack {
  text-align: center;
}

.tech-stack h1 {
  font-size: 40px;
  margin: 40px;
}

.tech-stack p {
  font-size: 20px;
}

.tech-stack-items {
  margin: 60px;
  display: flex;
  justify-content: center;
}

.tech-stack-items ul {
  width: 600px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tech-stack-items li {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-stack-items img {
  width: 70px;
  height: auto;
}

.bio {
  margin-top: 100px;
}
.bio .chart h1 {
  font-size: 40px;
}
.bio p {
  font-size: 18px;
}
.bio ul {
  list-style-type: disc;
}
.bio li {
  font-size: 18px;
}
.chart {
  text-align: center;
  margin: 50px;
}

.footer-upper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; 
}

.footer-upper li {
  display: inline-block; 
  margin: 0 10px; 
}

.footer-upper img {
  width: 70px;
}

.footer-left-element{
  float: left;
}
@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s infinite;
}
